<h1><center>Python Assignment 1</center></h1>
<h2><center>Basic Python programs</center></h2>

1. Python program to print "Hello Python"

In [2]:
print('Hello Python')

Hello Python

2. Python program to do arithmetical operations

In [3]:
a=int(input('enter a number:'))
b= int(input('enter a number:'))

print('addition: ',a+b)
print('sub: ',a-b)
print('mul: ',a*b)
print('div: ',a/b)
print('floor div: ',a//b)
print('mod: ',a%b)
print('to power: ',a**b)

enter a number:4
enter a number:2
addition:  6
sub:  2
mul:  8
div:  2.0
floor div:  2
mod:  0
to power:  16

3. Python program to find the area of a triangle

In [4]:
base=int(input('enter base of trangle: '))
height= int(input('enter height of trangle: '))
area_of_trangle=0.5*base*height
print('area of trangle: ',area_of_trangle)

enter base of trangle: 5
enter height of trangle: 3
area of trangle:  7.5

4. Python program to solve quadratic equation

In [5]:
import cmath

def solve_quadratic(a, b, c):
    # Calculate the discriminant
    discriminant = (b ** 2) - (4 * a * c)
    
    # Check if the equation has real or complex roots
    if discriminant >= 0:
        # Calculate the real roots
        root1 = (-b + cmath.sqrt(discriminant)) / (2 * a)
        root2 = (-b - cmath.sqrt(discriminant)) / (2 * a)
        
        return root1, root2
    else:
        # Calculate the complex roots
        real_part = -b / (2 * a)
        imaginary_part = cmath.sqrt(-discriminant) / (2 * a)
        
        root1 = complex(real_part, imaginary_part)
        root2 = complex(real_part, -imaginary_part)
        
        return root1, root2

# Example usage
a = float(input("Enter the coefficient of x^2: "))
b = float(input("Enter the coefficient of x: "))
c = float(input("Enter the constant term: "))

roots = solve_quadratic(a, b, c)
print("The roots of the quadratic equation are:", roots)

Enter the coefficient of x^2: 3
Enter the coefficient of x: 4
Enter the constant term: 5
The roots of the quadratic equation are: ((-0.6666666666666666+1.1055415967851332j), (-0.6666666666666666-1.1055415967851332j))

5. Python program to swap two variables

In [6]:
a=int(input('enter a number:'))
b= int(input('enter a number:'))
print(a,b)
c=a
a=b
b=c
print(a,b)
a=a+b
b=a-b
a=a-b
print(a,b)

enter a number:4
enter a number:5
4 5
5 4
4 5

6. Python program to generate a random number

In [8]:
import random
print(random.randint(1,10))

8

7. Python program to convert kilometers to miles

In [9]:
kilometers = float(input('enter distance in kilometer: '))
miles = kilometers * 0.621371
print('miles: ',miles)

enter distance in kilometer: 4
miles:  2.485484

8. Python program to convert Celsius to Fahrenheit

In [10]:
celsious= float(input('enter temprature in celsious: '))
fahrenheit = (celsious* 1.8 )+32
print('temp in fahrenheit: ',fahrenheit)

enter temprature in celsious: 36
temp in fahrenheit:  96.8

9. Python program to display calendar

In [11]:
import calendar

year = int(input("Enter the year: "))
month = int(input("Enter the month (1-12): "))
cal = calendar.monthcalendar(year, month)

print(calendar.month_name[month], year)
print("Mon  Tue  Wed  Thu  Fri  Sat  Sun")

for week in cal:
    week_str = ""
    for day in week:
        if day == 0:
            week_str += "     " 
        else:
            week_str += "{:2d}   ".format(day)  
    print(week_str)

Enter the year: 2001
Enter the month (1-12): 5
May 2001
Mon  Tue  Wed  Thu  Fri  Sat  Sun
      1    2    3    4    5    6
 7    8    9   10   11   12   13
14   15   16   17   18   19   20
21   22   23   24   25   26   27
28   29   30   31

<h2><center>Python programs with conditions and loops</center></h2>

1. Python Program to Check if a Number is Positive, Negative or Zero

In [13]:
number1 = int(input('enter a number: '))
if number1<0:
    print('num is -ve')
elif number1>0:
    print('num is +ve')
else:
    print('num is 0 zero')

enter a number: -4
num is -ve

2. Python Program to Check if a Number is Odd or Even

In [22]:
number1 = int(input('enter a number: '))
if number1&1:
    print('num is odd')
else:
    print('num is even')

enter a number: 8
num is even

3. Python Program to Check Leap Year

In [24]:
year = int(input("Enter a year: "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, "is a leap year.")
        else:
            print(year, "is not a leap year.")
    else:
        print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 2022
2022 is not a leap year.

4. Python Program to Check Prime Number

In [36]:
number1 = int(input('enter a num '))
f=0
if number1<3:
    print('not a prime num')
else:
    for i in range(2,int(number1**0.5) + 1):
        if number1%i==0:
            print('not prime num')
            f=1
            break
if f==0:
    print('prime num')

enter a num23
prime num

5. Python Program to Print all Prime Numbers in an Interval

In [37]:
low = int(input('enter a num '))
hi = int(input('enter a num '))
for i in range(low,hi+1):
    f=0
    if i<3:
        print('not a prime num')
    else:
        for j in range(2,int(i**0.5) + 1):
            if i%j==0:
                f=1
                break
    if f==0:
        print(i)

enter a num 3
enter a num 50
3
5
7
11
13
17
19
23
29
31
37
41
43
47

6. Python Program to Find the Factorial of a Number

In [39]:
number1 = int(input('enter a num '))
fact=1
for i in range(1,number1+1):
    fact=fact*i
print('fact: ',fact)

enter a num 4
fact:  24

7. Python Program to Display the multiplication Table

In [40]:
number1 = int(input('enter a num '))
for i in range(1,11):
    print(number1*i)

enter a num 2
2
4
6
8
10
12
14
16
18
20

8. Python Program to Print the Fibonacci sequence

In [46]:
a=0
b=1
c=0
n=int(input('enter number of element'))
while n!=0:
    c=a+c
    print(c)
    a=b
    b=c
    n-=1

enter number of element9
0
1
1
2
3
5
8
13
21

9. Python Program to Check Armstrong Number

In [6]:
1%10

1

In [9]:
num = int(input('enter a num '))
temp=num
total=0
while temp>0:
    digit=temp%10
    total+=digit**3
    temp=temp//10
if num==total:
    print('amstrong')
else:
    print('not amstrong')

enter a num 153
amstrong

10. Python Program to Find Armstrong Number in an Interval

In [10]:
num1 = int(input('enter a num '))
num2 = int(input('enter a num '))
for i in range(num1,num2+1):
    temp=i
    total=0
    while temp>0:
        digit=temp%10
        total+=digit**3
        temp=temp//10
    if i==total:
        print(i)

enter a num 2
enter a num 500
153
370
371
407

11. Python Program to Find the Sum of Natural Numbers

In [14]:
num1 = int(input('enter a num '))
sum1=0
if num1>0:
    while num1>0:
        sum1+=num1
        num1-=1
    print('sum= ',sum1)
else:
    print('sum= 0')

enter a num 16
sum=  136

Centered text!

<h1><center>Python Assignment 4</center></h1>

<h2><center>Topics: Loops</center></h2>

1. Write a python script to check whether a given number is prime or not.

In [27]:
num1 = int(input('enter a num '))
flage=1
for i in range(2,int(num1/2)+1):
    if num1%i==0:
        flage=0
        break
if flage==1:
    print('prime')
else:
    print('not prime')

enter a num 11
prime

2. Write a python script to print next prime number of a given number.

In [38]:
num1 = int(input('enter a num '))
num2=num1
key=False
while not key:
    flage=1
    num2+=1
    for i in range(2,int(num2/2)+1):
        if num2%i==0:
            flage=0
            break
    if flage==1:
        print(num2)
        if flage==1:
            key=True

enter a num 7
11

3. Write a python script to print first N prime number. Value of N is given by user.

In [60]:
num1= int(input('enter a no'))
for i in range (2,num1+1):
    flage= 1
    for j in range(2,i):
        if i%j==0:
            flage=0
            break

    if flage==1:
        print(i)

enter a no50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [58]:
N = int(input("Enter the value of N: "))
print("Prime numbers up to", N, "are:")

for number in range(2, N + 1):
    is_prime = True

    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            is_prime = False
            break

    if is_prime:
        print(number, end=' ')

Enter the value of N: 50
Prime numbers up to 50 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

4. Write a python script to print all prime number between two given numbers.

In [62]:
num1 = int(input('enter a num '))
num2 = int(input('enter a num '))
print("Prime numbers from",num1," to", num2, "are:")

for number in range(num1, num2 + 1):
    is_prime = True

    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            is_prime = False
            break

    if is_prime:
        print(number, end=' ')

enter a num 20
enter a num 50
Prime numbers from 20  to 50 are:
23 29 31 37 41 43 47

5. Write a python script to check whether two given number are co-prime or not.

In [69]:
num1 = int(input('enter a num '))
num2 = int(input('enter a num '))
flage=1
for i in range(2,int(num1/2)+1):
    if num1%i==0:
        flage=0
        break
if flage==1:
    for i in range(2,int(num2/2)+1):
        if num2%i==0:
            flage=0
            break
    if flage==1:
        print('co prime')
    else:
        print('not co prime')
else:
    print('not co prime')

enter a num 11
enter a num 19
co prime

6. Write a python script to print first N odd natural number in reverse order using range
function in for loop.

In [2]:
num1 = int(input('enter a num '))
for i in range(num1,0,-1):
    if i%2==1:
        print(i)

enter a num 20
19
17
15
13
11
9
7
5
3
1

7. Write a python script to print first N even natural number in reverse order using range
function in for loop.

In [3]:
num1 = int(input('enter a num '))
for i in range(num1,0,-1):
    if i%2==0:
        print(i)

enter a num 20
20
18
16
14
12
10
8
6
4
2

8. Write a python script to print all prime factors of a given number.

In [4]:
num1 = int(input('enter a num '))
for i in range(num1,2,-1):
    is_prime = True

    for j in range(2, int(i ** 0.5) + 1):
        if i % j == 0:
            is_prime = False
            break

    if is_prime:
        print(i, end=' ')

enter a num 20
19 17 13 11 7 5 3

9. Write a python script to calculate LCM of two numbers.

In [12]:
num1 = int(input('enter a num '))
num2 = int(input('enter a num '))
if num1>num2:
    n=num1
    flage=1
    while flage!=0:
        if n%num2==0 and n%num1==0:
            flage=0
            break
        n+=1
    if flage==0:
        print('LCM= ',n)
if num2>num1:
    n=num2
    flage=1
    while flage!=0:
        if n%num2==0 and n%num1==0:
            flage=0
            break
        n+=1
    if flage==0:
        print('LCM= ',n)

enter a num 3
enter a num 4
LCM=  12

10. Write a python script to calculate H.C.F of two number.

In [16]:
num1 = int(input('enter a num '))
num2 = int(input('enter a num '))
if num1>num2:
    n=num1
    flage=1
    while n!=0:
        if num2%n==0 and num1%n==0:
            flage=0
            break
        n-=1
    if flage==0:
        print('LCM= ',n)
if num2>num1:
    n=num2
    flage=1
    while n!=0:
        if num2%n==0 and num1%n==0:
            flage=0
            break
        n-=1
    if flage==0:
        print('LCM= ',n)

enter a num 12
enter a num 8
LCM=  4

<h1><center>Python Assignment 5</center></h1>
<h2><center>Topics: For loop / range function</center></h2>
1. Write a python script to print a table of 5.

In [17]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

2. Write a python script to print a table of users choice.

In [19]:
num1 = int(input('enter a num '))
for i in range(1,11):
    print(i*num1)

enter a num 4
4
8
12
16
20
24
28
32
36
40

3. Write a python script to print all Armstrong number.

In [29]:
num1 = int(input('enter a num '))
for j in range(100,num1+1):
    length=len(str(j))
    total=0
    i=j
    while i!=0:
        digit=i%10
        total+=(digit**length)
        i//=10
    if j==total:
        print('amstrong: ',total)

enter a num 9474
amstrong:  153
amstrong:  370
amstrong:  371
amstrong:  407
amstrong:  1634
amstrong:  8208
amstrong:  9474

4. Write a python script to square of number from a to b. values of a and b are given by
users.

In [31]:
num1 = int(input('enter a num '))
num2 = int(input('enter a num '))
for i in range(num1,num2+1):
    print(i**2)

enter a num 20
enter a num 3

5. Write a python script to print a sequence of number with given step size and boundary
value. For example boundary value is 10 and 30, step is 2 then your out put should be
10,12,1,16,20,22,24,26,28,30

In [33]:
num1 = int(input('enter a num '))
num2 = int(input('enter a num '))
step = int(input('enter a steap '))
for i in range(num1,num2+1,step):
    print(i,end=' ')

enter a num 10
enter a num 30
enter a steap 2
10 12 14 16 18 20 22 24 26 28 30

<h1><center>Python Assignment 6</center></h1>
<h2><center>Topics: List</center></h2>
1) Write a python script to sort a list given by user…..list = [int(x) for x in
input().split(‘,’) ].

In [36]:
num1=input('enter a list using comma seprate: ')
lst1=[int(x) for x in num1.split(',')]
print(sorted(lst1))

enter a list using comma seprate: 9,8,7,6,5,4,3,2
[2, 3, 4, 5, 6, 7, 8, 9]

2) Write a python script to find greatest number in the list of integers of the list given by
user. ->max(l)

In [37]:
num1=input('enter a list using comma seprate: ')
lst1=[int(x) for x in num1.split(',')]
print(max(lst1))

enter a list using comma seprate: 9,8,7,6,5,4,3,2
9

3) Write a python script to calculate sum of all the integers of the list given by user.

In [38]:
num1=input('enter a list using comma seprate: ')
lst1=[int(x) for x in num1.split(',')]
print(sum(lst1))

enter a list using comma seprate: 1,2,3,4,5,6
21

4) Write a python script to create a list of first n prime numbers. Value of n is given by user.

In [5]:
num1=int(input('enter a number: '))
lst=[]
for i in range(2,num1):
    flage=0
    for j in range(2,i):
        if i%j==0:
            flage=1
            break
    if flage==0:
        lst.append(i)
print(lst)

enter a number: 50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

5) Write a python script to create a list of square of first n natural number use for loop to fill
list with elements. Values of n taken from user.

In [10]:
num1=int(input('enter a number: '))
lst=[i**2 for i in range(0,num1+1)]
lst1=[]
for i in range(0,num1+1):
    lst1.append(i**2)
print(lst,lst1,sep='\n')

enter a number: 10
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

6) Write a python script to print indices of all occurrence of a given element in a given list.

In [11]:
lst=[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,9,1,3,4,5]
num1=int(input('enter a number: '))
for i in range(len(lst)):
    if lst[i]==num1:
        print('index:',i)

enter a number: 9
index: 8
index: 17
index: 18

7) Write a python script to print distinct list element along with their frequency occurrence
in the list.

In [12]:
lst=[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,9,1,3,4,5]
for i in range(len(lst)):
    val=0
    for j in range(len(lst)):
        if lst[i]==lst[j]:
            val+=1
    print(lst[i],val,sep=':')

1:3
2:2
3:3
4:3
5:3
6:2
7:2
8:2
9:3
1:3
2:2
3:3
4:3
5:3
6:2
7:2
8:2
9:3
9:3
1:3
3:3
4:3
5:3

8) Write a python script to calculate sum of all even number and sum of all odd number of
the list. List data given by user.

In [13]:
lst=[]
num1=int(input('enter a number: '))
for i in range(0,num1):
    n=int(input('enter a number: '))
    lst.append(n)
odd,even=0,0
for i in lst:
    if i%2==0:
        even+=i
    else: odd+=i
print('even sum: '+str(even),'\nodd sum'+str(odd))

enter a number: 12
enter a number: 1
enter a number: 2
enter a number: 3
enter a number: 4
enter a number: 5
enter a number: 6
enter a number: 7
enter a number: 8
enter a number: 9
enter a number: 10
enter a number: 11
enter a number: 12
even sum: 42
odd sum36

<h1><center>Python Assignment 7</center></h1>
1. Write a python script calculate length of the string. String is given by user.

In [14]:
str1=input('enter a string')
print('length of entered string is ',len(str1))

enter a stringvikrant
length of entered string is  7

2. Write a python script to count vowel in a given string.

In [15]:
str1=input('enter a string ')
for i in str1:
    if i in 'aeiouAEIOU':
        print(i)

enter a stringvikrant Khadatkar
i
a
a
a
a

3. Write a python script to reverse a string.

In [16]:
str1=input('enter a string ')
print(str1[::-1])

enter a string vikrant
tnarkiv

4. Write a python script to count occurrence of a given character in a given string.

In [18]:
str1=input('enter a string ')
char1=input('enter a character to be serch: ')
count=0
for i in str1:
    if char1==i:
        count+=1
print('The count of '+char1+' is ',count)

enter a string vikrantkhadatkar
enter a character to be serch: z
The count of z is  0

5. Write a python script to count words in a given string.

In [20]:
str1=input('enter a string ')
str1=str1.strip() # remove white spaces from starting and ending
lst=str1.split()
print('string contains '+str(len(lst))+' words')

enter a string  Write a python script to arrange word in a given string in alphabetical order.
string contains 14 words

6. Write a python script to arrange word in a given string in alphabetical order.

In [28]:
str1=input('enter a string ')
str1=str1.lower()
str1=str1.strip()
lst=sorted(str1.split())
str1=' '.join(lst)
print(str1)

enter a string Write a python script to check whether a given string is a palindrome or not
a a a check given is not or palindrome python script string to whether write

7. Write a python script to check whether a given string is a palindrome or not.

In [31]:
str1=input('enter a string ')
if str1.lower()==str1[::-1].lower():
    print('palendrom')
else: print('not palendrom')

enter a string maDam
palendrom

8. Write a python script to remove duplicate character from a given string. / Python script to
remove duplicate from a list of string.

In [32]:
str1=input('enter a string ')
result=''

for i in str1:
    if i not in result:
        result+=i
print(result)

enter a string vikranttavk
vikrant

In [33]:
lst=[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,9,1,3,4,5]
lst2=[]
for i in lst:
    if i not in lst2:
        lst2.append(i)
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

9. Write a python script to find out a pattern in a given string.

In [46]:
string=input('enter a string ')
pattern=input('enter a patern to be serch: ')
str_len=len(string)
patt_len=len(pattern)
for i in range(str_len - patt_len + 1):
    match=True
    for j in range(patt_len):
            if string[i + j] != pattern[j]:
                match = False
                break
    if match:
        print('pattern found')
if not match: 
    print('pattern not found')

enter a string vikrant
enter a patern to be serch: nt
pattern found at 5

10. Write a python script to count occurrence of a given pattern in a given string.

In [ ]:
string = input('enter a string ')
pattern = input('enter a patern to be serch: ')
str_len = len(string)
patt_len = len(pattern)
key = 0
for i in range(str_len - patt_len + 1):
    match = True
    for j in range(patt_len):
            if string[i + j] != pattern[j]:
                match = False
                key = i+1
                break
    if match:
        print('pattern found at',key)
if not match: 
    print('pattern not found')

<h1><center>Python Assignment 8</center></h1>
<h2><center>Topic – Tuple</center></h2>
1. Write a python script to calculate average of tuple values. Assuming values are of int type
only.

In [31]:
tuple1 = (1,2,3,4,5,6)
print(sum(tuple1) / len(tuple1))

3.5

2. Write a python script to sort a tuple.

In [30]:
tuple1 = (7,6,8,7,9,4,3)
tuple(sorted(tuple1))

(3, 4, 6, 7, 7, 8, 9)

3. Write a python script to merge two sorted tuple.

In [29]:
tuple1 = (72,6,82,7,92,4,3)
tuple2 = (71,61,81,72,91,41,31)
tuple(sorted(tuple1 + tuple2))

(3, 4, 6, 7, 31, 41, 61, 71, 72, 72, 81, 82, 91, 92)

4. Write a python script to reverse a tuple.

In [54]:
tup = (7,6,8,7,9,4,3)
tuple(list(tup)[::-1])

(3, 4, 9, 7, 8, 6, 7)

5. Write a python script to count element in the tuple.

In [55]:
tup = (7,6,8,7,9,4,3)
len(tup)

7

6. Write a python script to calculate sum of the elements of the tuple. Tuple input is taken
from keyboard (all values are of int type).

In [58]:
input_tuple = tuple(map(int, input("Enter elements of the tuple (space-separated): ").split()))
sum(input_tuple)

Enter elements of the tuple (space-separated): 1 2 3 4 5

15

7. Write a python script to create tuple with homogeneous element from a tuple containing
heterogeneous element.

In [65]:
tup = ("apple", 3, True, 2.5, "banana", False, 1, "orange")
print(tuple(i for i in tup if isinstance(i, str)))

('apple', 'banana', 'orange')

8. Write a python script to compare two tuple, whether they contain same elements in any
order or not.

In [2]:
t1 = (1,3,2,5,6,4)
t2 = (1,2,3,4,5,6)
set(t1) == set(t2)

True

9. Write a python script to compare two tuple, whether they contain the same element in
same order or not.

In [5]:
tuple1 = (1,3,2,5,6,4)
tuple2 = (1,3,2,5,6,4)
flage = 0
if len(tuple1) == len(tuple2):
    for i in range(len(t1)):
        if tuple1[i] != tuple2[i]:
            flage = 1
if flage == 1:
    print('Tuple is not same.')
else:
    print('Tuple is in same order and contain same element.')

Tuple is in same order and contain same element.

10. Write a python script to find greatest number from a tuple of int value.

In [16]:
tuple1 = (1,3,2,5,6,4)
print('The gretest number in tuple is:' , max(tuple1))
temp=0
for i in range(len(tuple1)):
    if temp < tuple1[i]:
        temp = tuple1[i]
print('The gretest number in tuple is:' , temp)

the gretest number in tuple is: 6
2
The gretest number in tuple is: 6

11. Write a python script to check whether a tuple is a subset of another tuple or not.

In [28]:
tuple1 = (1,3,2,5)
tuple2 = (7,8,4)
tuple3 = (1,2,3,4,5,6)

print(set(tuple1).issubset(set(tuple3)))
print(set(tuple2).issubset(set(tuple3)))

flage = 0
for element in tuple2:
    if element not in tuple3:
        flage = 1
if flage == 1:
    print('Tuple is not a subset of another subset')
else:
    print('Tuple is a subset of another subset')

True
False
Tuple is not a subset of another subset

12. Write a python script to count the frequency of element of a tuple.

In [25]:
tuple1 = (1,1,1,1, 2,2, 2, 3, 3, 4, 4, 4, 4)
frequency = {}
for i in tuple1:
    frequency[i] = frequency.get(i,0) + 1
frequency

{1: 4, 2: 3, 3: 2, 4: 4}

In [27]:
frequency = {}
for i in tuple1:
    if i in frequency.keys():
        frequency[i]+= 1
    else:
        frequency[i] = 1
frequency

{1: 4, 2: 3, 3: 2, 4: 4}

<h1><center>END</center></h1>