<h1><center>Tuple, Sets and Dictionary</center></h1>
<h2><center>Tuple</center></h2>

built-in functions for tuples in Python:

len(tuple): Returns the number of elements in the tuple.

tuple.count(value): Returns the number of occurrences of a value in the tuple.

tuple.index(value): Returns the index of the first occurrence of a value in the tuple.

tuple + tuple: Concatenates two tuples together, creating a new tuple.

tuple * n: Repeats a tuple a specified number of times, creating a new tuple.

max(tuple): Returns the maximum value in a numeric tuple.

min(tuple): Returns the minimum value in a numeric tuple.

sum(tuple): Returns the sum of all elements in a numeric tuple.

sorted(tuple): Returns a new tuple with the elements sorted in ascending order.

tuple[::-1]: Reverses the order of elements in the tuple.

tuple.index(value, start, end): Returns the index of the first occurrence of a value within a specified range.

tuple.count(value): Returns the number of occurrences of a value in the tuple.

len(tuple): Returns the number of elements in the tuple.

In [1]:
my_tuple = (1, 2, 3, 4, 5)
length = len(my_tuple)
print(length)  # Output: 5

5

tuple.count(value): Returns the number of occurrences of a value in the tuple.

In [2]:
my_tuple = (1, 2, 2, 3, 4, 4, 4, 5)
count = my_tuple.count(4)
print(count)  # Output: 3

3

tuple.index(value): Returns the index of the first occurrence of a value in the tuple.

In [3]:
my_tuple = (1, 2, 3, 4, 5)
index = my_tuple.index(3)
print(index)  # Output: 2

2

tuple + tuple: Concatenates two tuples together, creating a new tuple.

In [4]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated = tuple1 + tuple2
print(concatenated)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

tuple * n: Repeats a tuple a specified number of times, creating a new tuple.

In [5]:
my_tuple = (1, 2, 3)
repeated = my_tuple * 3
print(repeated)  # Output: (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

max(tuple): Returns the maximum value in a numeric tuple.

In [6]:
my_tuple = (5, 3, 1, 4, 2)
maximum = max(my_tuple)
print(maximum)  # Output: 5

5

min(tuple): Returns the minimum value in a numeric tuple.

In [7]:
my_tuple = (5, 3, 1, 4, 2)
minimum = min(my_tuple)
print(minimum)  # Output: 1

1

sum(tuple): Returns the sum of all elements in a numeric tuple.

In [8]:
my_tuple = (1, 2, 3, 4, 5)
total = sum(my_tuple)
print(total)  # Output: 15

15

sorted(tuple): Returns a new tuple with the elements sorted in ascending order.

In [9]:
my_tuple = (5, 3, 1, 4, 2)
sorted_tuple = sorted(my_tuple)
print(sorted_tuple)  # Output: (1, 2, 3, 4, 5)

[1, 2, 3, 4, 5]

tuple[::-1]: Reverses the order of elements in the tuple.

In [10]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)  # Output: (5, 4, 3, 2, 1)

(5, 4, 3, 2, 1)

tuple.index(value, start, end): Returns the index of the first occurrence of a value within a specified range.

In [11]:
my_tuple = (1, 2, 3, 2, 4, 2, 5)
index = my_tuple.index(2, 2, 6)
print(index)  # Output: 3

3

tuple.count(value): Returns the number of occurrences of a value in the tuple.

In [12]:
my_tuple = (1, 2, 2, 3, 4, 4, 4, 5)
count = my_tuple.count(4)
print(count)  # Output: 3

3

<h2><center>Tuple Operations</center></h2>

Accessing Elements:

Indexing (tuple[index]): Accesses an element at a specific index in the tuple.

In [13]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[0])  # Output: 1

1

Negative Indexing (tuple[-index]): Accesses an element at a specific index from the end of the tuple.

In [14]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[-1])  # Output: 5

5

Slicing (tuple[start:end]): Extracts a sublist from the tuple based on a specified range of indices.

In [15]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[1:4])  # Output: (2, 3, 4)

(2, 3, 4)

Concatenation:

Concatenating tuples (tuple1 + tuple2): Concatenates two tuples together, creating a new tuple.

In [16]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

Repetition:

Repeating a tuple (tuple * n): Repeats a tuple a specified number of times, creating a new tuple.

In [17]:
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print(repeated_tuple)  # Output: (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

Length:

Getting the length of a tuple (len(tuple)): Returns the number of elements in the tuple.

In [18]:
my_tuple = (1, 2, 3, 4, 5)
length = len(my_tuple)
print(length)  # Output: 5

5

Membership:

Checking if a value is present in the tuple (value in tuple): Returns True if the value is found, False otherwise.

In [19]:
my_tuple = (1, 2, 3, 4, 5)
print(3 in my_tuple)  # Output: True
print(6 in my_tuple)  # Output: False

True
False

Sorting:

Sorting the elements of a tuple (sorted(tuple)): Returns a new tuple with the elements sorted in ascending order.

In [20]:
my_tuple = (5, 3, 1, 4, 2)
sorted_tuple = sorted(my_tuple)
print(sorted_tuple)  # Output: (1, 2, 3, 4, 5)

[1, 2, 3, 4, 5]

Finding Maximum and Minimum:

Finding the maximum value in a numeric tuple (max(tuple)): Returns the maximum value.

In [21]:
my_tuple = (5, 3, 1, 4, 2)
maximum = max(my_tuple)
print(maximum)  # Output: 5

5

Finding the minimum value in a numeric tuple (min(tuple)): Returns the minimum value.

In [22]:
my_tuple = (5, 3, 1, 4, 2)
minimum = min(my_tuple)
print(minimum)  # Output: 1

1

Counting:

Counting the occurrences of a value in the tuple (tuple.count(value)): Returns the number of occurrences.

In [23]:
my_tuple = (1, 2, 2, 3, 4, 4, 4, 5)
count = my_tuple.count(4)
print(count)  # Output: 3

3

Copying:

Creating a copy of a tuple (new_tuple = tuple[:]): Creates a shallow copy of the tuple.

In [24]:
my_tuple = (1, 2, 3)
new_tuple = my_tuple[:]
print(new_tuple)  # Output: (1, 2, 3)

(1, 2, 3)

<h2><center>Tuple slicing</center></h2>

Basic Slicing: Extracting a subtuple from a tuple based on a specified range of indices.

In [26]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[2:7]
print(sliced_tuple)  # Output: (3, 4, 5, 6, 7)

(3, 4, 5, 6, 7)

Slicing with a Step Value: Extracting a subtuple with a specified step value, allowing you to skip elements.

In [27]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[1:9:2]
print(sliced_tuple)  # Output: (2, 4, 6, 8)

(2, 4, 6, 8)

Reverse Slicing: Reversing the order of elements in a tuple using slicing.

In [28]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)  # Output: (5, 4, 3, 2, 1)

(5, 4, 3, 2, 1)

Skipping Last N Elements: Skipping the last N elements of a tuple using negative indices.

In [29]:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[:-3]
print(sliced_tuple)  # Output: (1, 2, 3)

(1, 2)

Skipping First N Elements: Skipping the first N elements of a tuple using positive indices.

In [30]:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[3:]
print(sliced_tuple)  # Output: (4, 5)

(4, 5)

Slicing with a Step Value Greater than 1: Extracting a subtuple by skipping elements using a step value greater than 1.

In [31]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[1:9:3]
print(sliced_tuple)  # Output: (2, 5, 8)

(2, 5, 8)

Multi-dimensional Tuple Slicing: Slicing multi-dimensional tuples.

In [32]:
my_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
sliced_tuple = my_tuple[1][1:3]
print(sliced_tuple)  # Output: (5, 6)

(5, 6)

<h2><center>Sets</center></h2>

:

len(set): Returns the number of elements in the set.

set.add(element): Adds an element to the set.

set.remove(element): Removes an element from the set. Raises an error if the element is not found.

set.discard(element): Removes an element from the set if it exists, without raising an error.

set.pop(): Removes and returns an arbitrary element from the set.

set.clear(): Removes all elements from the set.

set.copy(): Creates a shallow copy of the set.

element in set: Checks if an element is present in the set.

set.union(other_set): Returns a new set that is the union of two sets.

set.intersection(other_set): Returns a new set that is the intersection of two sets.

set.difference(other_set): Returns a new set that contains elements present in the set but not in the other set.

set.symmetric_difference(other_set): Returns a new set that contains elements present in either set but not in both.

set.issubset(other_set): Checks if the set is a subset of another set.

set.issuperset(other_set): Checks if the set is a superset of another set.

set.update(other_set): Updates the set by adding elements from another set.

set.intersection_update(other_set): Updates the set by keeping only the elements present in both sets.

set.difference_update(other_set): Updates the set by removing elements that are also present in the other set.

set.symmetric_difference_update(other_set): Updates the set by keeping only the elements that are present in either set but not in both.

set.copy(): Creates a shallow copy of the set.

<h2><center>Sets Operations</center></h2>

len(set): Returns the number of elements in the set.

In [78]:
my_set = {1, 2, 3, 4, 5}
length = len(my_set)
print(length)  # Output: 5

5

set.add(element): Adds an element to the set.

In [77]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

set.remove(element): Removes an element from the set. Raises an error if the element is not found.

In [76]:
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4}

{1, 2, 4}

set.discard(element): Removes an element from the set if it exists, without raising an error.

In [75]:
my_set = {1, 2, 3, 4}
my_set.discard(3)
print(my_set)  # Output: {1, 2, 4}

{1, 2, 4}

set.pop(): Removes and returns an arbitrary element from the set.

In [74]:
my_set = {1, 2, 3, 4}
popped_element = my_set.pop()
print(popped_element)  # Output: 1
print(my_set)         # Output: {2, 3, 4}

1
{2, 3, 4}

set.clear(): Removes all elements from the set.

In [73]:
my_set = {1, 2, 3, 4}
my_set.clear()
print(my_set)  # Output: set()

set()

set.copy(): Creates a shallow copy of the set.

In [72]:
my_set = {1, 2, 3}
new_set = my_set.copy()
print(new_set)  # Output: {1, 2, 3}

{1, 2, 3}

element in set: Checks if an element is present in the set.

In [71]:
my_set = {1, 2, 3, 4, 5}
print(3 in my_set)  # Output: True
print(6 in my_set)  # Output: False

True
False

set.union(other_set): Returns a new set that is the union of two sets.

In [70]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

set.intersection(other_set): Returns a new set that is the intersection of two sets.

In [69]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

{3}

set.difference(other_set): Returns a new set that contains elements present in the set but not in the other set.

In [68]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

{1, 2}

set.symmetric_difference(other_set): Returns a new set that contains elements present in either set but not in both.

In [67]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
sym_diff_set = set1.symmetric_difference(set2)
print(sym_diff_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

set.issubset(other_set): Checks if the set is a subset of another set.

In [66]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(set1.issubset(set2))  # Output: True

True

set.issuperset(other_set): Checks if the set is a superset of another set.

In [65]:
set1 = {1, 2, 3, 4}
set2 = {1, 2}
print(set1.issuperset(set2))  # Output: True

True

set.update(other_set): Updates the set by adding elements from another set.

In [64]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

set.intersection_update(other_set): Updates the set by keeping only the elements present in both sets.

In [63]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.intersection_update(set2)
print(set1)  # Output: {3}

{3}

set.difference_update(other_set): Updates the set by removing elements that are also present in the other set.

In [62]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.difference_update(set2)
print(set1)  # Output: {1, 2}

{1, 2}

set.symmetric_difference_update(other_set): Updates the set by keeping only the elements that are present in either set but not in both.

In [61]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

Creating an empty set:

In [60]:
empty_set = set()
empty_set

set()

Creating a set with initial values:

In [59]:
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

Adding Elements:

Adding a single element to a set:

In [57]:
my_set = {1, 2, 3}
my_set.add(4)
my_set

{1, 2, 3, 4}

Adding multiple elements to a set:

In [55]:
my_set = {1, 2, 3}
my_set.update([4, 5, 6])
my_set

{1, 2, 3, 4, 5, 6}

Removing Elements:

Removing an element from a set:

In [53]:
my_set = {1, 2, 3, 4}
my_set.remove(3)
my_set

{1, 2, 4}

Removing an element from a set without raising an error if not found:

In [52]:
my_set = {1, 2, 3, 4}
my_set.discard(5)
my_set

{1, 2, 3, 4}

Removing and returning an arbitrary element from a set:

In [46]:
my_set = {1, 2, 3, 4}
popped_element = my_set.pop()
popped_element

1

In [47]:
popped_element = my_set.pop()
popped_element

2

In [48]:
my_set

{3, 4}

Clearing all elements from a set:

In [45]:
my_set = {1, 2, 3, 4}
my_set.clear()
my_set

set()

Set Operations:

Union of two sets:

In [44]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

Intersection of two sets:

In [43]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
intersection_set

{3}

Difference between two sets:

In [42]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
difference_set

{1, 2}

Symmetric difference between two sets:

In [41]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
sym_diff_set = set1.symmetric_difference(set2)
sym_diff_set

{1, 2, 4, 5}

Set Membership:

Checking if an element is present in a set:

In [39]:
my_set = {1, 2, 3, 4, 5}
print(3 in my_set)  # Output: True

True

Set Comparison:

Checking if one set is a subset of another set:

In [38]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(set1.issubset(set2))  # Output: True

True

Checking if one set is a superset of another set:

In [37]:
set1 = {1, 2, 3, 4}
set2 = {1, 2}
print(set1.issuperset(set2))  # Output: True

True

Set Copying:

In [36]:
my_set = {1, 2, 3}
new_set = my_set.copy()
new_set

{1, 2, 3}

In [34]:
my_set = {1, 2, 3, 4, 5, 6}
my_list = list(my_set)
sliced_list = my_list[1:4]
print(sliced_list)  # Output: [2, 3, 4]

[2, 3, 4]

<h2><center>Dictionary</center></h2>
len(dictionary): Returns the number of key-value pairs in the dictionary.

dictionary[key]: Accesses the value associated with the specified key.

dictionary.get(key, default): Accesses the value associated with the specified key. If the key is not found, it returns the default value.

dictionary.keys(): Returns a view object containing all the keys in the dictionary.

dictionary.values(): Returns a view object containing all the values in the dictionary.

dictionary.items(): Returns a view object containing all the key-value pairs in the dictionary.

key in dictionary: Checks if a key exists in the dictionary.

dictionary.pop(key, default): Removes the specified key and returns its corresponding value. If the key is not found, it returns the default value.

dictionary.popitem(): Removes and returns the last key-value pair added to the dictionary.

dictionary.clear(): Removes all key-value pairs from the dictionary.

dictionary.copy(): Creates a shallow copy of the dictionary.

dictionary.update(other_dict): Updates the dictionary with key-value pairs from another dictionary or an iterable of key-value pairs.

len(dictionary): Returns the number of key-value pairs in the dictionary.

In [1]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
length = len(my_dict)
print(length)  # Output: 3

3

dictionary[key]: Accesses the value associated with the specified key.

In [2]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict['b']
print(value)  # Output: 2

2

dictionary.get(key, default): Accesses the value associated with the specified key. If the key is not found, it returns the default value.

In [3]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict.get('d', 0)
print(value)  # Output: 0 (since 'd' is not a key in the dictionary)

0

In [4]:
my_dict

{'a': 1, 'b': 2, 'c': 3}

dictionary.keys(): Returns a view object containing all the keys in the dictionary.

In [5]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
keys = my_dict.keys()
print(keys)  # Output: dict_keys(['a', 'b', 'c'])

dict_keys(['a', 'b', 'c'])

dictionary.values(): Returns a view object containing all the values in the dictionary.

In [6]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
values = my_dict.values()
print(values)  # Output: dict_values([1, 2, 3])

dict_values([1, 2, 3])

dictionary.items(): Returns a view object containing all the key-value pairs in the dictionary.

In [7]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
items = my_dict.items()
print(items)  # Output: dict_items([('a', 1), ('b', 2), ('c', 3)])

dict_items([('a', 1), ('b', 2), ('c', 3)])

key in dictionary: Checks if a key exists in the dictionary.

In [8]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print('b' in my_dict)  # Output: True
print('d' in my_dict)  # Output: False

True
False

dictionary.pop(key, default): Removes the specified key and returns its corresponding value. If the key is not found, it returns the default value.

In [9]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict.pop('b', 0)
print(value)  # Output: 2 (value associated with 'b')

2

dictionary.popitem(): Removes and returns the last key-value pair added to the dictionary.

In [10]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
key, value = my_dict.popitem()
print(key, value)  # Output: 'c' 3

c 3

dictionary.clear(): Removes all key-value pairs from the dictionary.

In [11]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.clear()
print(my_dict)  # Output: {}

{}

dictionary.copy(): Creates a shallow copy of the dictionary.

In [12]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
new_dict = my_dict.copy()
print(new_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

dictionary.update(other_dict): Updates the dictionary with key-value pairs from another dictionary or an iterable of key-value pairs.

In [13]:
my_dict = {'a': 1, 'b': 2}
other_dict = {'c': 3, 'd': 4}
my_dict.update(other_dict)
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Creating an empty dictionary:

In [15]:
empty_dict = {}
empty_dict

{}

Creating a dictionary with initial key-value pairs:

In [22]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

Accessing Values:

Accessing the value associated with a key:

In [17]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
print(my_dict['name'])  # Output: 'John'

John

Using .get() to access the value with a default if the key is not found:

In [18]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
print(my_dict.get('gender', 'N/A'))  # Output: 'N/A' (since 'gender' key is not found)

N/A

Updating Values:

Updating an existing value or adding a new key-value pair:

In [20]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
my_dict['age'] = 32  # Updating the 'age' value to 32
my_dict['country'] = 'USA'  # Adding a new key-value pair
my_dict

{'name': 'John', 'age': 32, 'city': 'New York', 'country': 'USA'}

Removing Key-Value Pairs:

Removing a key-value pair using the del statement:

In [21]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
del my_dict['city']  # Removing the 'city' key-value pair
my_dict

{'name': 'John', 'age': 30}

Using the pop() method to remove a key-value pair and return the value:

In [23]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
age_value = my_dict.pop('age')  # Removing 'age' key-value pair and storing the value in age_value
my_dict,age_value

({'name': 'John', 'city': 'New York'}, 30)

Using the popitem() method to remove and return the last key-value pair added to the dictionary:

In [24]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
key, value = my_dict.popitem()  # Removing and storing the last key-value pair
my_dict

{'name': 'John', 'age': 30}

Checking Existence:

Checking if a key exists in the dictionary:

In [25]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
print('age' in my_dict)  # Output: True
print('gender' in my_dict)  # Output: False

True
False

Dictionary Views:

Getting all keys as a view object:

In [26]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
keys_view = my_dict.keys()
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

Getting all values as a view object:

In [27]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
values_view = my_dict.values()
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

Getting all key-value pairs as a view object:

In [28]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
items_view = my_dict.items()
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

Copying:

Creating a shallow copy of the dictionary:

In [29]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
new_dict = my_dict.copy()
new_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

Clearing the Dictionary:

Removing all key-value pairs from the dictionary:

In [31]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
my_dict.clear()
my_dict

{}